[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "gybe"
author = "Peter Morrow"
author-email = "peterthehacker3@gmail.com"
home-page = "https://github.com/petermorrow/gybe"
classifiers = ["License :: OSI Approved :: MIT License"]
description-file = "README.md"

